<org.geoserver.security.config.UsernamePasswordAuthenticationFilterConfig>
  <id>-3778be0b:13b654315fe:-7ffa</id>
  <name>form</name>
  <className>org.geoserver.security.filter.GeoServerUserNamePasswordAuthenticationFilter</className>
  <passwordParameterName>password</passwordParameterName>
  <usernameParameterName>username</usernameParameterName>
</org.geoserver.security.config.UsernamePasswordAuthenticationFilterConfig>