<org.geoserver.security.config.SecurityContextPersistenceFilterConfig>
  <id>-3778be0b:13b654315fe:-7ff9</id>
  <name>contextAsc</name>
  <className>org.geoserver.security.filter.GeoServerSecurityContextPersistenceFilter</className>
  <allowSessionCreation>true</allowSessionCreation>
</org.geoserver.security.config.SecurityContextPersistenceFilterConfig>