<org.geoserver.security.config.SecurityInterceptorFilterConfig>
  <id>-3778be0b:13b654315fe:-7ff5</id>
  <name>interceptor</name>
  <className>org.geoserver.security.filter.GeoServerSecurityInterceptorFilter</className>
  <allowIfAllAbstainDecisions>false</allowIfAllAbstainDecisions>
  <securityMetadataSource>geoserverMetadataSource</securityMetadataSource>
</org.geoserver.security.config.SecurityInterceptorFilterConfig>